header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  color: white;
}

.center {
  text-align: center;
}

a {
  color: #61dafb;
}

.container {
  padding: 0 10rem;
}

.btn {
  display: inline-block;
  border: none;
  background: white;
  color: black;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #a9afbc;
}